<div class="background">
  <mat-form-field color="primary">
    <input
      color="primary"
      name="searchdata"
      #searchdata="ngModel"
      matInput
      [(ngModel)]="searchKey"
      required
    />
  </mat-form-field>
  <button
    mat-stroked-button
    color="primary"
    class="search-button"
    (click)="search()"
  >
    {{ "SEARCH_MAKEUP" | translate }}
  </button>

  <mat-error *ngIf="searchdata.hasError('required')">{{
    "MAKEUP_REQUIRED" | translate
  }}</mat-error>
  <p>
    <button
      mat-raised-button
      color="primary"
      matBadge="8"
      matBadgePosition="before"
      matBadgeColor="accent"
      (click)="fetchMakeup(name)"
      *ngFor="let name of lastThreeSearches"
    >
      {{ name }}
    </button>
  </p>

  <div *ngFor="let selectedMakeup of selectedMakeup$ | async">
    <h2>{{ selectedMakeup.name }}</h2>
    <img class="searchedPicture" [src]="selectedMakeup.pictureUrl"/>

    <div *ngIf="selectedMakeup">
      <form [formGroup]="form" (submit)="submit(selectedMakeup)">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'DESCRIBE_PRODUCT' | translate}}</mat-label>
          <textarea formControlName="description" matInput></textarea>
          <mat-error *ngIf="submitted && form.invalid"
            >{{"REVIEW_REQUIRED" | translate}}</mat-error
          >
          <span>{{ form.controls.review?.value.length }}</span>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>{{ 'RATING' | translate}}}</mat-label>
          <mat-select id="rating" formControlName="rating">
            <mat-option *ngFor="let rating of ratings" [value]="rating">{{
              rating
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-radio-group  appearance="fill" aria-label="Select an option" formControlName="status">
          <mat-radio-button [value]="status.Purchased"
            >{{ 'PURCHASED' | translate}}</mat-radio-button
          >
          <mat-radio-button [value]="status.Purchase_Later"
            >{{ 'PURCHASE_LATER' | translate}}</mat-radio-button
          >
        </mat-radio-group>

        <div *ngIf="canBuyLater">
          <mat-select
            class="select-purchase-option"
            formControlName="whenToBuy"
          >
            <mat-option [value]="null" hidden>{{ 'WHEN_TO_BUY' | translate}}</mat-option>

            <mat-option *ngFor="let w of whenToBuy" [value]="w.value">{{
              w.label | translate
            }}</mat-option>
          </mat-select>
          <mat-error
          *ngIf="form.controls.whenToBuy?.errors?.required"
        ></mat-error>
        </div>
        <button mat-button class="button" (click)="submit(selectedMakeup)" type="submit">{{ "ADD" | translate}}</button>
      </form>
      </div>
    </div>
  </div>
