<mat-toolbar color="white" class="search-bar">
  <mat-form-field color="primary">
    <input
      name="searchdata"
      #searchdata="ngModel"
      matInput
      [(ngModel)]="searchKey"
      required
      placeholder="Search..."
    />
  </mat-form-field>
  <button
    mat-stroked-button
    color="primary"
    class="search-button"
    (click)="search()"
  >
    Search a makeup
  </button>
</mat-toolbar>

<mat-error *ngIf="searchdata.hasError('required')">You must enter a makeup name</mat-error>
<p>
  <button
    mat-raised-button
    color="primary"
    matBadge="8"
    matBadgePosition="before"
    matBadgeColor="accent"
    (click)="fetchMakeup(name)"
    *ngFor="let name of lastThreeSearches"
  >
    {{ name }}
  </button>
</p>


<div *ngFor="let selectedMakeup of (selectedMakeup$ | async)">
  <h2>{{ selectedMakeup.name }}</h2>

  <div><img [src]="selectedMakeup.pictureUrl" /></div>
</div>
