.background{
  height: 100%;
  width: 100%;
  background: url('https://img5.goodfon.com/wallpaper/nbig/5/7d/decorative-cosmetics-makeup-kosmetika-teni-makiiazh-kistochk.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  }

  .search-input {
  margin: 40px auto;
  justify-content: flex-end;
  margin-left: 150px;
  margin-bottom: 50px;

  }

  .searchedPicture{
    width: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

