.background{
  height: 100vh;
  width: 100%;
  background: url('https://img5.goodfon.com/wallpaper/nbig/5/7d/decorative-cosmetics-makeup-kosmetika-teni-makiiazh-kistochk.jpg') no-repeat;
  background-size: cover;
  color: white;
  }
