<form
  (ngSubmit)="signUp(form)"
  #form="ngForm"
  [mustMatch]="['password','repeatPassword']"
>
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
      <div class="example-container">
        <div class="registration">{{ "AUTH.SIGN-UP.REGISTRATION" | translate }}</div>
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>{{ "AUTH.SIGN-UP.EMAIL" | translate }}</mat-label>
          <input
            matInput
            type="email"
            #email="ngModel"
            ngModel
            name="email"
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            required
            placeholder="Ex. email@example.com"
          />
          <mat-error *ngIf="email.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="email.invalid">Email is invalid</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>{{ "AUTH.SIGN-UP.PASSWORD" | translate }}</mat-label>
          <input
            matInput
            ngModel
            name="password"
            #password="ngModel"
            class="form-control"
            required
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>{{ "AUTH.SIGN-UP.REPEAT_PASSWORD" | translate }}</mat-label>
          <input
            matInput
            ngModel
            name="repeatPassword"
            #repeatPassword="ngModel"
            class="form-control"
            required
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="repeatPassword.hasError('required')">{{ "AUTH.SIGN-UP.MATCH_PASSWORD" | translate }}</mat-error>
          <mat-error *ngIf="repeatPassword.invalid && !repeatPassword.hasError('required')">{{ "AUTH.SIGN-UP.NO_MATCH_PASSWORD" | translate }}</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">
          {{ "AUTH.SIGN-UP.REGISTRATION" | translate }}
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
