<form
  (ngSubmit)="signUp(form)"
  #form="ngForm"
  [mustMatch]="['password', 'repeatedPassword']"
>
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
      <div class="example-container">
        <div class="registration">{{ "AUTH.SIGN-UP.REGISTRATION" | translate }}</div>
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>{{ "AUTH.SIGN-UP.EMAIL" | translate }}</mat-label>
          <input
            matInput
            type="email"
            ngModel
            name="email"
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            required
            placeholder="Ex. email@example.com"
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>{{ "AUTH.SIGN-UP.PASSWORD" | translate }}</mat-label>
          <input
            matInput
            ngModel
            name="password"
            #password="ngModel"
            class="form-control"
            required
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="fill" class="width-100">
          <mat-label>{{ "AUTH.SIGN-UP.REPEATED_PASSWORD" | translate }}</mat-label>
          <input
            matInput
            ngModel
            name="repeatPassword"
            #repeatPassword="ngModel"
            class="form-control"
            required
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">
          {{ "AUTH.SIGN-UP.REGISTRATION" | translate }}
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- <div *ngIf="form.submitted && form.invalid">
      <div style="color:red" class="error" *ngIf="form.controls.emails?.errors?.required">Email not valid</div>
      <div class="alert alert-danger" role="alert" *ngIf="form.controls.emails?.errors?.required">
        This is a danger alert—check it out!
      </div>
    </div> -->
</form>

<!-- [mustMatch]="['password','repeatPassword']" -->
