<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>school</mat-icon>
  </button>
  <span class="fill-space">{{ "UNIVERSITY LIST" | translate }}</span>
  <button (click)="en()">EN</button>
  <button (click)="ka()">KA</button>

  <ng-container *ngIf="!isLoggedIn">
    <button (click)="goToSignIn()"> {{ "AUTH.REGISTRATION.SIGN_IN" | translate }}</button>
    <button (click)="goToSignUp()"> {{ "AUTH.REGISTRATION.REGISTRATION" | translate }}</button>
  </ng-container>

  <button *ngIf="isLoggedIn" (click)="signOut()">Sign Out</button>
</mat-toolbar>
